# Course - Introduction to R

##### NOTE: 
1. Your code MUST execute without any errors. 
2. You can add more lines in your code as required.

## Section 1: Data Types and Operations Pt. 1

### Question 1 
**Create the variables with the following composition:**
1. A vector containing each letter of your first name as its elements.
2. A variable that contains your name concatenated from the vector created in (1)
3. A variable containing a sequence from 100 to 120.
4. Create a matrix of 3x3 dimensions that contains the even sequence of numbers starting from 2.
5. Assign names to the variables.

In [183]:
#### Start solution ####

In [184]:
first_name <- c('H','i','r','A')
print(first_name)

[1] "H" "i" "r" "A"

In [185]:
name <- paste(first_name, collapse = '')
print(name)

[1] "HirA"

In [186]:
numbers <- 100:120
print(numbers)

 [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
[20] 119 120

In [187]:
sequence = c(2*(1:9))
m <- matrix(sequence, nrow = 3, ncol = 3)
print(m)

     [,1] [,2] [,3]
[1,]    2    8   14
[2,]    4   10   16
[3,]    6   12   18

In [188]:
row.names(m) <- c("r1","r2","r3")
colnames(m) <- c("c1","c2","c3")
print(m)

   c1 c2 c3
r1  2  8 14
r2  4 10 16
r3  6 12 18

In [189]:
#### End solution ####

### Question 2
**Create a factor variable emp_status:**
1. Containing the categorical variables: Employed, Unemployed, Self-Employed, with each level appearing atleast more than 2.
2. Display the levels and the factor variable as a table.
3. Unclass the elements of the factor variable.

In [190]:
#### Start solution ####

In [191]:
employee <- factor(c("Employed", "Self-Employed", "Employed", "Unemployed", "Self-Employed", "Employed", "Self-Employed", "Unemployed"), levels = c("Employed", "Unemployed", "Self-Employed"))
print(employee)

[1] Employed      Self-Employed Employed      Unemployed    Self-Employed
[6] Employed      Self-Employed Unemployed
Levels: Employed Unemployed Self-Employed

In [192]:
table(employee)

employee
     Employed    Unemployed Self-Employed
            3             2             3

In [193]:
unclass(employee)

[1] 1 3 1 2 3 1 3 2
attr(,"levels")
[1] "Employed"      "Unemployed"    "Self-Employed"

In [194]:
#### End solution ####

### Question 3
**Create a dataframe object called bank_customers:**
1. the data frame will have three columns: CustomerID, hasAccount, totalBalance
2. Fill the data as follows
    a. Alicia does not have an account. She is here for inquiry 
    b. Nancy is here to check on her account balance of USD 10,000.
    c. Fernando is here to deposit USD 100 in his account which had no balance.
    d. Louis will withdraw all his money from the account that had USD 2,000. 
    e. Diane is here for information. 
3. For customers that do not have a value, use NA as placeholder.
4. Print the number of rows, columns and names for the data frame.

In [195]:
#### Start solution ####

In [196]:
bank_customers <- data.frame(matrix(ncol = 3))
colnames(bank_customers) <- c("CustomerID", "hasAccount", "totalBalance")
bank_customers <- bank_customers[-c(1),]
bank_customers

     CustomerID hasAccount totalBalance

In [197]:
#adding records
new_customer <- data.frame(
    row.names = "Alia",
    CustomerID = 1,
    hasAccount = F,
    totalBalance = NA
)
bank_customers <- rbind(bank_customers, new_customer)

new_customer <- data.frame(
    row.names = "Nancy",
    CustomerID = 2,
    hasAccount = T,
    totalBalance = 10000
)
bank_customers <- rbind(bank_customers, new_customer)

new_customer <- data.frame(
    row.names = "Fernando",
    CustomerID = 3,
    hasAccount = T,
    totalBalance = 0
)
bank_customers <- rbind(bank_customers, new_customer)

new_customer <- data.frame(
    row.names = "Louis",
    CustomerID = 4,
    hasAccount = T,
    totalBalance = 2000
)
bank_customers <- rbind(bank_customers, new_customer)

new_customer <- data.frame(
    row.names = "Diane",
    CustomerID = 5,
    hasAccount = NA,
    totalBalance = NA
)
bank_customers <- rbind(bank_customers, new_customer)
bank_customers

         CustomerID hasAccount totalBalance
Alia     1          FALSE         NA
Nancy    2           TRUE      10000
Fernando 3           TRUE          0
Louis    4           TRUE       2000
Diane    5             NA         NA

In [198]:
nrow(bank_customers)

[1] 5

In [199]:
ncol(bank_customers)

[1] 3

In [200]:
dimnames(bank_customers)

[[1]]
[1] "Alia"     "Nancy"    "Fernando" "Louis"    "Diane"

[[2]]
[1] "CustomerID"   "hasAccount"   "totalBalance"

In [201]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 2: Control Structures

### Question 1
**Create a variable containing a sequence of numbers from 1 to 100:**
1. Iterate over the variables and print those numbers which are prime.

**Create a variable var with a value of 1:**
1. Create a while loop and increase the value of var at each iteration. 
2. When you reach the 10th prime number, terminate the loop and print the number.

In [202]:
#### Start solution ####

In [203]:
printPrimeNumbers <- function(nums){
     primeNumbers = c()
     for(num in nums){
          flag <- 1; i <- 2
          while(i < num){
               if(num %% i == 0) flag <- 0
               i = i + 1
          }
          if(flag == 1) primeNumbers = c(primeNumbers, num)
     }
     primeNumbers
}
nums = 1:100
primeNumbers = printPrimeNumbers(nums)
cat('Prime numbers are : ',primeNumbers)

Prime numbers are :  1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [204]:
#get prime numbers upto count
getPrimeNumber <- function(nums,target){
     index <- 1; primeCount <- 0; primeNumber <- NA
     while(TRUE){
          flag <- 1; i <- 2
          while(i < nums[index]){
               if(nums[index] %% i == 0) flag <- 0
               i = i + 1
          }
          if(flag == 1){
               primeNumber <- nums[index]
               primeCount <- primeCount + 1
          }
          index <- index + 1
          if(primeCount == target) break
     }
     primeNumber
}
nums <- 1:100
p = getPrimeNumber(nums,10)
print(p)

[1] 23

In [205]:
#### End solution ####

### Question 2
**Create a matrix of size 3x3 called mat_1:**
1. Iterate over all the values one by one and print the element as well as the position in the matrix (row, col)

In [206]:
#### Start solution ####

In [207]:
mat_1 = matrix(1:9, ncol = 3, nrow = 3)
print(mat_1)

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

In [208]:
for(row in seq_len(nrow(mat_1))){
     for(column in seq_len(ncol(mat_1))){
          print(mat_1[row,column])
     }
}

[1] 1
[1] 4
[1] 7
[1] 2
[1] 5
[1] 8
[1] 3
[1] 6
[1] 9

In [209]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 3: Functions

### Question 1
**Create a function called gcd that finds the greatest common divisor of two numbers a and b:**
1. a and b, should be taken as input.
2. The function must print the GCD as well as return it.
3. The output must be saved in a variable called answer.

In [210]:
#### Start solution ####

In [211]:
gcd <- function(a,b){
     if(b==0) a
     else gcd(b, a%%b)
}

In [212]:
a <- 22
b <- 33

In [213]:
answer = gcd(a,b)

In [214]:
cat('GCD of',a,'and',b,'is',answer)

GCD of 22 and 33 is 11

In [215]:
#### End solution ####

### Question 2
**Create a function called allConditionsMeet, that checks whether two expressions evaluate to true:**
1. a and b, should be taken as input.
2. the function should check if a and b, both conditions, evaluate to True.
3. The function must returns a boolean value.
4. Using a method, print the arguments that function takes.

In [216]:
#### Start solution ####

In [217]:
allConditionsMeet <- function(a,b) if(a == TRUE && b == TRUE) TRUE else FALSE

In [218]:
print(allConditionsMeet(2>3,4>6))

[1] FALSE

In [219]:
arguments = names(formals(allConditionsMeet))

In [220]:
cat('Arguments the function takes are',arguments)

Arguments the function takes are a b

In [221]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 4: Vectorized Operations

### Question 1
**Create two matrices matrix_1 and matrix_2 of dimensions 2x3 and 3x2:**
1. Perform element-wise multiplication.
2. Perform matrix multipilcation. 

**Create a 2x2 matrix my_mat:**
1. Write a function to find the determinant of the matrix.

In [222]:
#### Start solution ####

In [223]:
matrix_1 = matrix(1:6, ncol = 3, nrow = 2)

print(matrix_1)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

In [224]:
matrix_2 = matrix(1:6, ncol = 2, nrow = 3)

print(matrix_2)

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

In [225]:
print('Element-wise multipilcation')
elements = c(matrix_2) * c(matrix_1)
matrix_3 = matrix(elements,2,3)
print(matrix_3)

[1] "Element-wise multipilcation"
     [,1] [,2] [,3]
[1,]    1    9   25
[2,]    4   16   36

In [226]:
print('Matrix multipilcation')

matrix_3 = matrix_1%*%matrix_2

print(matrix_3)

[1] "Matrix multipilcation"
     [,1] [,2]
[1,]   22   49
[2,]   28   64

In [227]:
my_mat = matrix(1:4, ncol = 2, nrow = 2)

print(det(my_mat))

[1] -2

In [228]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 5: Date and Time in R

### Question 1
**Use the current date and time and store them into variables curr_date and curr_time respectively: [use sys]**
1. Convert both into date and time objects using the appropriate functions.
2. Print the weekday, year, second and hour using the appropriate function and variables.

In [229]:
#### Start solution ####

In [230]:
curr_time = Sys.time()

In [231]:
curr_date = Sys.Date()

In [232]:
date = as.Date(curr_date)

In [233]:
time = as.POSIXlt(curr_time)

In [234]:
cat('weekday : ',time$wday)

cat('\nyear : ',time$year)

cat('\nsecond : ',time$sec)

cat('\nhour : ',time$hour)

weekday :  3
year :  122
second :  22.58642
hour :  7

In [235]:
#### End solution ####

### Question 2
**Create a variable to store current date/time**
1. Create another variable that stores and set the timezone as GMT-5
2. Find the difference between your current time and the GMT-5 timezone.

In [236]:
#### Start solution ####

In [237]:
currentTime = as.POSIXlt(Sys.time(), tz='')

print(currentTime)

[1] "2022-09-07 07:17:22 PKT"

In [238]:
gmtTime = as.POSIXlt(Sys.time(), tz = 'GMT')

print(gmtTime)

[1] "2022-09-07 02:17:22 GMT"

In [239]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 6: Loop Functions

### Question 1
**Create a function to calculate mean and standard deviation of the provided data**
1. Create a sequence of numbers from 100 to 150 store in a variable called numbers.
1. Use lapply, sapply, apply and tapply to implement the functions on "numbers" [only on the second half of the sequence for tapply]

In [240]:
#### Start solution ####

In [241]:
numbers = seq(100,150)

numbers

 [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
[20] 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
[39] 138 139 140 141 142 143 144 145 146 147 148 149 150

In [242]:
getMSD <- function(data) c(mean = mean(data), sd = sd(data))

In [243]:
msd <- lapply(X = list(numbers), FUN = getMSD)

print(msd)

[[1]]
     mean        sd
125.00000  14.86607

In [244]:
msd <- sapply(X = list(numbers), FUN = getMSD, simplify = 'array')

print(msd)

          [,1]
mean 125.00000
sd    14.86607

In [245]:
msd <- apply(X = matrix(numbers, nrow = 1),
             MARGIN = 1, FUN = getMSD, simplify = TRUE)
print(msd)

          [,1]
mean 125.00000
sd    14.86607

In [246]:
f <- gl(5,5)

msd <- tapply(X = numbers[26:50], INDEX = f, FUN = getMSD)

print(msd)

$`1`
      mean         sd
127.000000   1.581139

$`2`
      mean         sd
132.000000   1.581139

$`3`
      mean         sd
137.000000   1.581139

$`4`
      mean         sd
142.000000   1.581139

$`5`
      mean         sd
147.000000   1.581139

In [247]:
#### End solution ####

### Question 2
**Create a matrix of dimensions 4x4**
1. Find the row-wise and column-wise mean of the matrix.
2. Print the values.

In [248]:
#### Start solution ####

In [249]:
mat <- matrix(data = 1:16, ncol = 4, nrow = 4)

In [250]:
rowWiseMean <- rowMeans(mat)

In [251]:
colWiseMean <- colMeans(mat)

In [252]:
print(rowWiseMean)

[1]  7  8  9 10

In [253]:
print(colWiseMean)

[1]  2.5  6.5 10.5 14.5

In [254]:
#### End solution ####

### Good Job! You have successfully completed the section!

## Section 7: Data Split

### Question 1
**Using the data frame Orange:**
1. Using split function to break down the dataset on circumference and store it in 'split_data' variable. 
2. Print the values for split_data where circumference is 30 and 75.
3. Find the average age of the tree when the circumference is 30 and when circumference is 214.


The dataset is loaded and the variable Orange contains the respective dataset.

In [255]:
library(datasets)

In [256]:
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [257]:
#### Start solution ####

In [258]:
split_data <- split(x = Orange,f = Orange$circumference)

print(split_data$`30`)

print(split_data$`75`)

   Tree age circumference
1     1 118            30
15    3 118            30
29    5 118            30
   Tree age circumference
17    3 664            75

In [259]:
data1 = split_data$`30`

data2 = split_data$`214`

lapply(list(data1$age, data2$age), mean)

[[1]]
[1] 118

[[2]]
[1] 1582

In [260]:
#### End solution ####


### Save it and push .ipynb and .html file to your Github Repository
## GOOD JOB! You have successfully finished the course!